/**
 * Place your custom CSS styles here.
 **/
#member_requests_pagelet ._51xa > button{
	/*color: green !important;*/
}
#funnelTunnelProccess{
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 22px;
    background-color: #ffffff73;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background: #00000045;
    text-align: center;
}
#funnelTunnelProccess > div{
	margin: auto;
    width: 240px;
    font-size: 35px;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    border: 3px dashed black;
    margin-top: 40vh;
    background-color: white;
    cursor: pointer;
    background: #0000008a;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    width: auto;
    display: inline-block;
    padding: 4vw;
    font-size: 5vw;
}
#FunnelUnlinkButton{
    background-color: transparent;
    color: #4b4f56;
}
#FunnelCollect:not(.newDesign){
    background: #4266b2;
    color: white;
    border-color: #4266b2;
}
#FunnelCollect.newDesign{
    float: left;
    display: inline-block;
    padding: 5px;
    width: auto;
    min-width: 80px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /*background: #ed3949;*/
    margin-right: 10px;
    background: #b700ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#FunnelCollect.newDesign + div{
    padding: 5px !important;
    width: auto !important;
}