/**
 * Place your custom CSS styles here.
 **/
#member_requests_pagelet ._51xa > button{
	/*color: green !important;*/
}
#funnelTunnelProccess{
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 22px;
    background-color: #ffffff73;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
}
#funnelTunnelProccess > div{
	margin: auto;
    width: 240px;
    font-size: 35px;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    border: 3px dashed black;
    margin-top: 40vh;
    background-color: white;
    cursor: pointer;
}
#FunnelUnlinkButton{
    background-color: transparent;
    color: #4b4f56;
}

